:host {
  &.horizontal {
    display: flex;
    flex-direction: column;
  }

  &.vertical {
    display: flex;
    flex-direction: row;
    
    .tabs {
      margin-right: 1.6rem;
    }
  }
}

.tabs {
  margin-bottom: 1.6rem;
}

.tabs-list {
  list-style: none;
  display: flex;

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
  }
}

.tabs-list.horizontal .tabs-item {
  &.active ::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #0084ff;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
  }

  &:not(:last-child) {
    margin-right: 0.4rem;
  }
}

.tabs-list.vertical .tabs-item {
  max-width: 18.4rem; // demo purposes
  display: flex;
  align-items: center;

  &.active ::after {
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #0084ff;
    width: 0;
    height: 0;
    position: absolute;
    right: -23px;
    left: unset;
    bottom: unset;
  }

  &:not(:last-child) {
    margin-bottom: 0.4rem;
  }
}

.tabs-item {
  background-color: #c4cbde;
  padding: 0.4rem 0.8rem;
  min-width: 9.4rem;
  min-height: 3.2rem;
  position: relative;

  &.active {
    background-color: #0084ff;
  }

  &.active ::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #0084ff;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }

  &.active .tabs-link {
    color: #fff;
  }
}

.tabs-link {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: #121212;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
