<!-- Horizontal -->
<div class="container">
  <app-tabs tabsDirection="horizontal">
    <app-tab tabTitle="Tab 1">
      <p>Tab 1 Content</p>
      <a
        class="demo-link"
        href="https://www.google.com"
        target="_blank"
        rel="noreferrer noopener"
        >Link</a
      >
    </app-tab>
    <app-tab tabTitle="Tab 2">
      <p>Tab 2 Content</p>
      <img
        class="demo-img"
        src="https://i.ytimg.com/vi/D7VziN4dNHs/maxresdefault.jpg"
        alt=""
      />
    </app-tab>
    <app-tab tabTitle="Tab 3">
      <p>Tab 3 Content</p>
      <button class="demo-btn">Learn More</button>
    </app-tab>
  </app-tabs>
</div>

<!-- Vertical -->
<div class="container">
  <app-tabs tabsDirection="vertical">
    <app-tab tabTitle="Tab 1">
      <p>Tab 1 Content</p>
      <a
        class="demo-link"
        href="https://www.google.com"
        target="_blank"
        rel="noreferrer noopener"
        >Link</a
      >
    </app-tab>
    <app-tab tabTitle="Tab 2">
      <p>Tab 2 Content</p>
      <img
        class="demo-img"
        src="https://imgix.bustle.com/fatherly/2021/12/unaired-office-kevin-scene.jpg?w=1200&h=630&fit=crop&crop=faces&fm=jpg"
        alt=""
      />
    </app-tab>
    <app-tab tabTitle="Tab 3">
      <p>Tab 3 Content</p>
      <button class="demo-btn">Learn More</button>
    </app-tab>
  </app-tabs>
</div>
